@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes carouselSlide {
    0%{
        transform: translateX(0%) 
    }
    100%{
        transform: translateX(-166.66666%) 
    }
}
        

.carousel {
    align-items: center;
    /* // width: auto
    // overflow: hidden !important */
    align-items: center;
    /* // background: $ */
    height: 100%;
    white-space: nowrap !important;
    animation: 50s carouselSlide infinite linear;
}

.carousel:hover{
    animation-play-state: paused;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* *{
    overflow-y: auto;
    overflow-x: hidden;
} */