@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBottomBar {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.695) 50%, rgba(0, 0, 0, 1) 100%);
    /* backdrop-filter: blur; */
}
